.btn {
  border: none;
  cursor: pointer;
  display: inline-block;
  min-height: 37px;
  &.btn-primary {
    background-color: $cl-p;
    &:hover {
      background-color: darken($cl-p, 5%);
    }
    &:active {
      background-color: darken($cl-p, 10%);
    }
  }
  &.red {
    background-color: $red;
    &:hover {
      background-color: darken($red, 5%);
    }
    &:active {
      background-color: darken($red, 10%);
    }
  }
  &.green {
    background-color: $green;
    &:hover {
      background-color: darken($green, 5%);
    }
    &:active {
      background-color: darken($green, 10%);
    }
  }
}
