#nav {
  width: 200px;
  height: 100vh;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
  position: fixed;
  left: 0;
  top: 0;
  background-color: $white;
  border-right: 1px solid $background;
  z-index: 9999999999;

  .logoContainer {
    height: 70px;
    position: relative;
    border-bottom: 1px solid $background;
    a {
      display: block;
      height: 100%;
    }
    img {
      height: 80%;
    }
  }

  .navContainer {
    padding-top: 45px;
    position: relative;
    height: 100%;
    ul {
      list-style: none;

      li {
        a {
          display: flex;
          height: 50px;
          color: $font-l;
          align-items: center;
          text-decoration: none;
          transition: all 0.1s;
          position: relative;
          // padding-left: 3.5rem;
          .icon {
            min-width: 25px;
            height: 20px;
            text-align: center;
            left: 3.5rem;
            position: relative;

            .fill {
              g,
              path {
                fill: $font-l;
              }
            }

            .stroke {
              g,
              path {
                stroke: $font-l;
              }
            }
          }

          .title {
            transition: all 0.3s;
            left: 3.5rem;
            position: relative;
          }

          &[data-hover="hoverActive"]:after {
            position: absolute;
            height: 100%;
            width: 100%;
            content: "";
            background: $background;
            top: 0;
            z-index: -1;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
          }

          &[data-hover="hoverActive"]:after {
            animation: afterEnter 0.3s;
          }

          &[data-hover="hoverActive"]:active:after {
            background-color: darken($background, 10%);
            height: 90%;
          }

          &[data-hover="hoverLeft"]:after {
            position: absolute;
            height: 100%;
            width: 0;
            content: "";
            background: $background;
            top: 0;
            z-index: -1;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
          }

          &[data-hover="hoverLeft"]:after {
            animation: afterExit 0.3s;
          }

          @keyframes afterEnter {
            0% {
              width: 0;
              height: 33px;
              border-top-right-radius: 30px;
              border-bottom-right-radius: 30px;
            }
            80% {
              width: 100%;
            }
            100% {
              width: 100%;
              height: 100%;
              border-top-right-radius: 0;
            }
          }
          @keyframes afterExit {
            0% {
              width: 100%;
              height: 100%;
            }
            80% {
              height: 33px;
            }
            100% {
              width: 0;
              border-top-right-radius: 30px;
              border-bottom-right-radius: 30px;
            }
          }
        }

        a.active {
          color: $font;
          font-weight: 600;

          .icon {
            .fill {
              g {
                fill: $font;
              }

              path {
                fill: $font;
              }
            }

            .stroke {
              g {
                stroke: $font;
              }

              path {
                stroke: $font;
              }
            }
          }
        }

        &.subMenu {
          .subMenuToggle {
            cursor: pointer;
          }
          .subMenuDropdown {
            height: 0;
            overflow-y: hidden;
            transition: all 0.2s ease-in-out;
            position: relative;
            &:after {
              position: absolute;
              bottom: 0;
              height: 2px;
              width: 100%;
              background-color: $background;
              content: "";
            }
          }
        }
      }
    }
  }
}
