.innerNavigation {
  position: relative;
  .link {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: $cl-p;
    }
  }
  .indicator {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 50px;
    background-color: $cl-p;
    transition: all 0.2s ease-in-out;
  }
}
