.galleryWrapper {
  .selectedImages {
    border: 1px solid $background-d;
    border-radius: 4px;
    ul {
      li {
        list-style: none;
      }
    }
  }
}

.borders{
  border-top: 1px solid $background-d;
  border-bottom: 1px solid $background-d;
}