.uploadBar {
  height: 100px;
  .barWrapper {
    border: 1px solid $background-d;
    width: 100%;
    border-radius: 4px;

    .bar {
      height: 30px;
      width: 100%;
      background: $background-d;
      overflow-x: hidden;
      position: relative;
    }
  }
  .outerProgress {
    z-index: 2;
  }
}
.loader {
  .fancy-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;

    div {
      position: absolute;
      width: 7rem;
      height: 7rem;
      border-radius: 50%;

      &.ring {
        border-width: 0.5rem;
        border-style: solid;
        border-color: transparent;
        animation: 2s fancy infinite alternate;

        &:nth-child(1) {
          border-left-color: $cl-p;
          border-right-color: $cl-p;
        }
        &:nth-child(2) {
          border-top-color: $cl-p;
          border-bottom-color: $cl-p;
          animation-delay: 1s;
        }
      }

      &.dot {
        width: 1.5rem;
        height: 1.5rem;
        background: $cl-t;
      }
    }
  }

  @keyframes fancy {
    to {
      transform: rotate(360deg) scale(0.5);
    }
  }
}
