.inputWrapper {
  position: relative;
  input,
  textarea {
    height: 40px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid $cl-p-l;
    outline: none;
    padding-left: 1rem;
    font-size: 14px;
    position: relative;
    z-index: 1;
    line-height: 1;
    color: $cl-p;
  }

  textarea {
    resize: none;
    height: 80px;
    padding: 1.5rem 1rem;
  }
  label {
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
    font-size: 14px;
    background: $white;
    transition: all 0.2s ease-in-out;
    z-index: 2;
    display: block;
    cursor: text;
    padding: 0 0.5rem;
    color: $cl-p;
    pointer-events: none;
    line-height: 1;
  }

  input:focus,
  textarea:focus {
    ~ label {
      font-size: 1rem;
      top: 0;
      color: $cl-p;
    }
  }

  .count {
    position: absolute;
    right: 0.5rem;
    top: 100%;
    transform: translateY(-10px);
    z-index: 2;
    background-color: $white;

    color: $cl-p-l;
    line-height: 1;
  }
  &.textArea {
    label {
      top: 2rem;
    }
    .count {
      //top: calc(100% - 0.5rem);
    }
  }
  &.hasText {
    label {
      font-size: 1rem;
      top: 0;
      color: $cl-p;
    }
  }
  &.file {
    input {
      display: none;
    }
    label {
      cursor: pointer;
      display: inline-block;
      position: static;
      pointer-events: all;
      color: $white;
      width: 150px;
      outline: none;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
