#header {
  height: 70px;
  position: fixed;
  left: 200px;
  top: 0;
  background-color: $white;
  width: calc(100% - 200px);
  border-bottom: 1px solid $background;
  z-index: 9999;
  .breadcrumbs {
    height: 100%;
    a {
      color: $font-l;
      &:hover {
        color: darken($font-l, 10%);
      }
    }
  }
  .headerInfo {
    float: right;
    height: 100%;
    .search,
    .notification,
    .profile {
      height: 100%;
      border-left: 1px solid $background;
      // overflow: hidden;
      position: relative;
      cursor: pointer;
      svg {
        position: relative;
        top: 50%;
        left: 50%;
        margin: 0 auto;
        transform: translate(-50%, -50%);
      }
      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $background;
        content: "";
        z-index: -1;
        transform: scaleY(0);
        transition: all 0.1s;
        transform-origin: bottom;
      }
      &:hover:after {
        transform: scaleY(1);
      }
    }
    .search,
    .notification {
      width: 70px;
    }
    .notification {
      .notif {
        position: absolute;
        background-color: $red;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        font-weight: 500;
        right: 12px;
        top: 17px;
        &.zero {
          display: none;
        }
      }
    }
    .profile {
      width: 90px;
      &:hover {
        .imgContainer {
          &:after {
            opacity: 1;
            transform: translateY(0);
          }
          svg {
            filter: blur(1px) brightness(60%);
          }
        }
      }
      a {
        &:active {
          background: darken($background, 10%);
        }
        width: 100%;
        height: 100%;
        display: block;
        .imgContainer {
          width: 50px;
          height: 50px;
          position: relative;
          border-radius: 50%;
          overflow: hidden;
          top: 50%;
          transform: translateY(-50%);
          margin: 0 auto;
          &:after {
            position: absolute;
            height: 100%;
            width: 100%;
            content: "Profil";
            font-family: Poppins, sans-serif;
            left: 0;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            color: $white;
            transition: all 0.1s ease-in-out;
            opacity: 0;
            transform: translateY(-100%);
            background-color: $font;
          }
          svg {
            max-width: 100%;
            max-height: 100%;
            path {
              fill: #9ea8b8;
            }
          }
        }
      }
    }
    .logout {
      width: 70px;
      height: 100%;
      border-left: 1px solid $background;
      position: relative;
      button {
        height: 100%;
        width: 100%;
        border: none;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        svg {
          transition: all 0.1s ease-in-out;
          path,
          rect {
            // stroke: #9ea8b8;
            fill: #9ea8b8;
          }
        }
        &:hover {
          svg {
            path,
            rect {
              // stroke: $red;
              fill: $white;
            }
          }
        }

        &:after {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $red;
          content: "";
          z-index: -1;
          transform: scaleY(0);
          transition: all 0.1s;
          transform-origin: bottom;
        }
        &:hover:after {
          transform: scaleY(1);
        }
        &:active:after {
          background: darken($red, 10%);
        }
      }
    }
  }
}
